body {
    background: #fff;
}

nav {
    width: 100%;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

p, img, a {
    display: block;
}

h3 {
    color: green;
}

.about-img {
    width: 400px;
}
header h2 {
    color: blue;
}
h1 {
    color: #000;
}

p {
    /* color: green;
    background: cornsilk */
}